<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="all">
            <ion-icon name="earth"></ion-icon>
            <ion-label>Les sorties</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="registered">
            <ion-icon name="walk"></ion-icon>
            <ion-label>Mes sortie</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="add">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Créer</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="user">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>

