<ion-header translucent="true">
    <ion-toolbar>
        <ion-title>Les sorties</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="!platform.is('ios')">
        <ng-container *ngTemplateOutlet="category"></ng-container>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
    <ion-refresher (ionRefresh)="init($event)" pullFactor="0.5" pullMax="200" pullMin="100" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Mes sorties</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="toolbar" *ngIf="platform.is('ios')">
        <ng-container *ngTemplateOutlet="category"></ng-container>

    </div>

    <ng-container *ngIf="filter().length > 0 || state.loading; else noContent">
        <app-green-walk-list [greenWalks]="filter()"></app-green-walk-list>
    </ng-container>


</ion-content>
<ion-progress-bar *ngIf="state.loading" color="dark" type="indeterminate"></ion-progress-bar>

<ng-template #category>
    <ion-segment [value]="state.category" (ionChange)="state.category = $event.detail.value">
        <ion-segment-button value="next">
            <ion-label>Prochaine</ion-label>
        </ion-segment-button>
        <ion-segment-button value="past">
            <ion-label>Passée</ion-label>
        </ion-segment-button>
    </ion-segment>
</ng-template>

<ng-template #noContent>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Aucune GreenWalk</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ng-template>