.toolbar {
  width: 100%;
  padding: var(--ion-padding);
  padding-bottom: 0;

  button{
    background-color: var(--color-filter);
    color: var(--ion-text-color);
    font-size: 15px;
    height: 45px;
    text-align: center;
    font-weight: bolder;
    border-radius: var(--border-radius);
    width: 100%;

    &.touchable {
      transition: transform .2s;
    }
  }
}

