<ion-content>
    <div class='page ion-padding'>
        <div>
            <header>
                <h1 class="page_title" id="PageTitle">Connexion</h1>
                <h2 class="page_subtitle ion-padding-bottom">Veuillez saisir vos informations<br> de connexion</h2>
            </header>

            <div [formGroup]='formGroup'>
                <div class="formControl">
                    <label>
                        Email
                        <input formControlName="email" type="email">
                    </label>
                </div>

                <div class="formControl ion-padding-bottom">
                    <label>
                        Mot de passe
                        <input formControlName="password" type="password">
                    </label>
                </div>
            </div>
        </div>

        <ion-button (click)='onSubmit()' type='submit' [disabled]='this.formGroup.invalid' class="btn uppercase">
            Connexion
        </ion-button>
    </div>
</ion-content>
