.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &_title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }

  &_subtitle {
    font-size: 20px;
    text-align: center;
  }
}
