<ion-content>
    <div class='page ion-padding'>
        <div>
            <header>
                <h1 class="page_title" id="PageTitle">Bienvenue<br>Alex</h1>
                <h2 class="page_subtitle ion-padding-bottom"></h2>
            </header>


            <ng-container *ngTemplateOutlet="slide1"></ng-container>

        </div>

        <ion-button class="btn uppercase" type='submit'>
            Suivant
        </ion-button>
    </div>
</ion-content>

<ng-template #slide1>
    <form [formGroup]='formGroup'>
        <div formGroupName="step1">

            <div class="formControl">
                <label>
                    Prénom usuel
                    <input formControlName="email" type="email" autocomplete="given-name">
                </label>
            </div>

            <div class="formControl">
                <label>
                    Email
                    <input formControlName="email" type="email" autocomplete="email">
                </label>
            </div>

            <div class="formControl">
                <label>
                    Date de naissance
                    <input formControlName="birthDate" type="date" autocomplete="bday"/>
                </label>
            </div>
        </div>
    </form>
</ng-template>
