#page {
  --overflow: hidden;
}

ion-header {
  position: absolute;
  top: 0;
  left: 0;

  img {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    transition: opacity .2s;
  }

  @media screen and (min-width: 900px) {
    width: 60vw;
    height: 100vh;

    img {
      width: 60vw;
      height: 100vh;
    }
  }
}

ion-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
}

#content {
  --background: transparent;
  @media screen and (min-width: 900px) {
    left: 60vw;
    width: 40vw;
  }
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: var(--ion-padding);
  padding-top: calc(env(safe-area-inset-top, 0) + (var(--ion-padding) / 2));
  padding-right: var(--ion-padding);
  transition: opacity .2s;

  @media screen and (min-width: 900px) {
    width: 60vw;
    left: 0;
  }

  .btn.float {
    background-color: var(--ion-background-color);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(#000, .3);
    cursor: pointer;
    color: var(--ion-text);
    padding: calc(var(--ion-padding) / 2);
    margin: 0 0 15px 0;
  }

  &.hidden {
    @media screen and (max-width: 800px) {
      opacity: 0;
      pointer-events: none;
    }
  }

}


.body {
  margin-top: 55vh;
  min-height: 45vh;
  height: auto;
  background-color: var(--ion-background-color);
  border-radius: var(--border-radius);
  color: var(--color-text-primary);

  @media screen and (min-width: 900px) {
    margin-top: var(--ion-safe-area-top, 0);
    border-radius: 0;
    padding-top: 20px;
  }

  .elements {
    transform: translateY(-60px);
    @media screen and (min-width: 900px) {
      transform: none;
    }


    header {
      background-color: var(--ion-background-color);
      width: calc(100% - var(--ion-padding) * 2);
      margin: 0 auto;
      padding: var(--ion-padding);
      border-radius: var(--border-radius);
      box-shadow: 0 0 10px rgba(#000, .3);

      h1, h2 {
        margin: 0;
        font-size: 20px;
        text-align: center;
        &:first-letter{
          text-transform: capitalize;
        }
      }
      h2{
        margin-top: 5px;
        font-size: 15px;
      }

      .subtitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .location {
          display: flex;
          align-items: center;
          color: var(--color-text-secondary);
        }
      }
    }

  }
}
