<ion-content [fullscreen]="true" id="page">
    <ion-header>
        <img [src]="getMap()|safe:'url'" id="map" [style.opacity]="map.loaded? 1 : 0" (load)="mapIsLoaded()">
    </ion-header>

    <ion-content  [fullscreen]="true" id="content">
        <div class="navigation-bar">
            <ion-icon (click)="back()" class="btn float touchable" name="chevron-back-outline"></ion-icon>
            <ion-icon (click)="openMapsApp()" class="btn float touchable" name="map-outline"></ion-icon>
        </div>

        <div class="body">
            <div class="elements">
                <header class="ion-padding-horizontal">
                    <h1 *ngIf="map.loaded else loading">{{greenWalk.name}}</h1>
                    <h2 *ngIf="map.loaded else loading">{{greenWalk.datetime | dateDifference:true:true}}</h2>
                    <div class="subtitle ion-padding-bottom">
                        <div class="location">
                            <ion-icon name="pin"></ion-icon>
                            <div class="text">
                                <ng-container *ngIf="map.loaded else loading">
                                    {{greenWalk.location.city + ' ' + greenWalk.location.zipCode}}
                                </ng-container>
                            </div>
                        </div>

                        <app-participants *ngIf="map.loaded" [greenWalk]="greenWalk"></app-participants>
                    </div>

                    <button class="btn touchable" [disabled]="!greenWalk">Participer</button>
                    <ion-button expand="block" color="danger">Supprimer</ion-button>
                </header>

                <p *ngIf="map.loaded"
                   [innerHTML]="greenWalk.description | nl2br"
                   class="description ion-padding-horizontal"
                ></p>

                <div *ngIf="!map.loaded" class="description ion-padding-horizontal" >
                    <br>
                    <ion-skeleton-text  animated style="width: 100%"></ion-skeleton-text>
                    <ion-skeleton-text  animated style="width: 100%"></ion-skeleton-text>
                    <ion-skeleton-text  animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text  animated style="width: 50%"></ion-skeleton-text>
                </div>

            </div>
        </div>
    </ion-content>

</ion-content>

<ng-template #loading>
    <ion-skeleton-text  animated style="width: 100%; min-width: 50px"></ion-skeleton-text>
</ng-template>
