<ion-content [fullscreen]="true" id="page">
    <ion-header>
        <img [src]="getMap()|safe:'url'" id="map">
    </ion-header>

    <ion-content (scroll)="onScroll($event)" [fullscreen]="true" id="content">
        <div [ngClass]="{hidden: scroll > 250}" class="navigation-bar">
            <ion-icon (click)="back()" class="btn float touchable" name="chevron-back-outline"></ion-icon>
            <ion-icon (click)="openMapsApp()" class="btn float touchable" name="map-outline"></ion-icon>
        </div>

        <div class="body">
            <div class="elements">
                <header class="ion-padding-horizontal">
                    <h1 *ngIf="greenWalk">{{greenWalk.name}}</h1>
                    <div class="subtitle ion-padding-bottom">
                        <div class="location">
                            <ion-icon name="pin"></ion-icon>
                            <div *ngIf="greenWalk" class="text">
                                {{greenWalk.location.city + ' ' + greenWalk.location.zipCode}}
                            </div>
                        </div>

                        <app-participants *ngIf="greenWalk" [greenWalk]="greenWalk"></app-participants>
                    </div>

                    <button class="btn btn--participate">Participer</button>
                </header>

                <p *ngIf="greenWalk" [innerHTML]="greenWalk.description | nl2br"
                   class="description ion-padding-horizontal"></p>
                <!--                <app-comments *ngIf="greenWalk" [comments]="greenWalk.comments"></app-comments>-->
            </div>
        </div>
    </ion-content>

</ion-content>
